// $primary-color: #e4e3e3;
// $secondary-color: #84a9ac;
// $accent-color: #3b6978;
// $accent-darker-color: #204051;

$primary-color: #222831;
$secondary-color: #393e46;
$accent-color: #fd7014;
$accent-darker-color: #eeeeee;